[Unit]
Description=Gunicorn server for DOMAIN

[Service]
Restart=on-failure
User=odesm
WorkingDirectory=/home/odesm/sites/DOMAIN
EnvironmentFile=/home/odesm/sites/DOMAIN/.env

ExecStart=pipenv run gunicorn \
    --bind unix:/tmp/DOMAIN.socket \
    superlists.wsgi:application

[Install]
WantedBy=multi-user.target

